@import url(/assets/css/fonts.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F1f4fa;
}
// ASIDE
aside {
    display: flex;
    flex-direction: column;
    width: 206px;
    background-color: #fff;
    margin: 27px;
    border-radius: 35px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 51px 0;
    font-size: x-large;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #99B2C6;
    font-weight: 500;
}

h5 {
    color: #9b9b9b;
    font-weight: 400;
    margin-left: 35px;
}

.dashboard, .analytics, .sales, .product, .customer, .payout, .profile, .inbox, .settings {
    display: flex;
    margin-left: 35px;
    gap: 16px;
}

.administratorTools, .settingsTools {
    display: flex;
    gap: 45px;
    flex-direction: column;
    margin: 22px 0;
}

.settingsTools {
    margin-bottom: 80px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #99B2C6;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  input:checked + .slider {
    background-color: #2196F3;
}
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  .slider.round {
    border-radius: 34px;
}
  
  .slider.round:before {
    border-radius: 50%;
}

.darkMode {
    display: flex;
    justify-content: center;
}

.copyright {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: small;
    color: #99B2C6;
}

// CONTAINERS DISPLAY
.elements {
    display: flex;
}

//B8B8B8

// NAVBAR

.search {
    margin-top: 27px;
    width: 748px;
    padding: 15px;
    border-radius: 13px;
    border: none;
}

.search::placeholder {
    color: #b8b8b8;
}

.searchImg {
    position: relative;
    right: 46px;
    bottom: -15px;
    background: none;
    border: none;
    cursor: pointer;
}

.elementNavBar {
    display: flex;
}

.dateTLZ {
    background-color: #fff;
    margin-top: 27px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    padding: 0 33px;
    font-weight: 500;
}

.notification {
    margin: 27px 15px 0;
}

.notificationImage {
    background-color: #fff;
    border: none;
    padding: 9px 20px;
    border-radius: 11px;
    cursor: pointer;
}

.profilePicture {
    margin-top: 27px;
}

.picture{
    background-color: #fff;
    border: none;
    padding: 9px 20px;
    border-radius: 11px;
    cursor: pointer;
}
