@import url(/assets/css/fonts.css);
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #F1f4fa;
}

aside {
  display: flex;
  flex-direction: column;
  width: 206px;
  background-color: #fff;
  margin: 27px;
  border-radius: 35px;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 51px 0;
  font-size: x-large;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #99B2C6;
  font-weight: 500;
  font-size: small;
  align-items: center;
}

h5 {
  color: #9b9b9b;
  font-weight: 400;
  margin-left: 35px;
}

.dashboard, .analytics, .sales, .product, .customer, .payout, .profile, .inbox, .settings {
  display: flex;
  margin-left: 35px;
  gap: 16px;
}

.administratorTools, .settingsTools {
  display: flex;
  gap: 45px;
  flex-direction: column;
  margin: 22px 0;
}

.settingsTools {
  margin-bottom: 80px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #99B2C6;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.darkMode {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.modeImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: small;
  color: #99B2C6;
}

.elements {
  display: flex;
}

.search {
  margin-top: 27px;
  width: 720px;
  padding: 15px;
  border-radius: 13px;
  border: none;
}

.search::-moz-placeholder {
  color: #b8b8b8;
}

.search::placeholder {
  color: #b8b8b8;
}

.searchImg {
  position: relative;
  right: 46px;
  bottom: -15px;
  background: none;
  border: none;
  cursor: pointer;
}

.elementNavBar {
  display: flex;
  gap: 16px;
}

.dateTLZ {
  background-color: #fff;
  margin-top: 27px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  padding: 0 33px;
  font-weight: 500;
  margin-left: 30px;
}

.notification {
  margin: 27px 15px 0;
}

.notificationImage {
  background-color: #fff;
  border: none;
  padding: 9px 15px;
  border-radius: 11px;
  cursor: pointer;
}

.profilePicture {
  margin-top: 27px;
}

.picture {
  border: none;
  padding: 23px 23px;
  border-radius: 11px;
  cursor: pointer;
  background-image: url(/assets/img/icons/androgynous-avatar-non-binary-queer-person.jpg);
  background-size: cover;
}

.dashboardMain {
  background-image: url(../img/blackimage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 39px 20px 25px 0px;
  width: 747px;
  border-radius: 20px;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.dashboardMain h4 {
  color: #fff;
  margin: 0 29px 0 42px;
  padding-top: 52px;
  font-weight: 400;
  font-size: large;
}

.dashboardMain h1 {
  color: #fff;
  font-weight: 500;
  font-size: xxx-large;
  margin-left: 46px;
  margin-bottom: 86px;
}

.cardLeft, .cardRight {
  background: linear-gradient(to top, #2B2B2B 50%, #363636);
  margin-bottom: 45px;
  border-radius: 13px;
  width: 280px;
  text-align: end;
  padding: 28px;
}

.cardLeft, .cardRight p {
  color: #b8b8b8;
  text-align: end;
}

.cardRight h1 {
  margin-bottom: 0;
  letter-spacing: normal;
  font-size: xx-large;
  font-weight: 700;
}

.cardLeft h1 {
  margin-bottom: 0;
  letter-spacing: normal;
  font-size: xx-large;
  font-weight: 700;
}

main {
  display: flex;
}

.dashboardSecond {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  margin: 39px 0 0 70px;
  border-radius: 20px;
  margin-bottom: 25px;
  width: 422px;
}

.marketingTitle {
  margin: 35px 0 30px 0;
  color: #fff;
  font-weight: 500;
  font-size: larger;
}

.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: conic-gradient(#fff 0% 75%, #000 75% 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle h3 {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.circle::after {
  content: "";
  position: absolute;
  inset: 23px;
  border-radius: 50%;
  background: #242424;
}

.dashboardSecond h1, h4 {
  color: #fff;
}

.dashboardSecond h1 {
  margin: 10px;
  font-weight: 500;
}

.dashboardSecond h4 {
  font-size: smaller;
  font-weight: 500;
  margin-bottom: 30px;
}

.dashboardSecond button {
  padding: 10px;
  background: #fff;
  border: none;
  border-radius: 8px;
  width: 150px;
  cursor: pointer;
  font-weight: bold;
}

.latestTransaction {
  background-color: #fff;
  width: 746px;
  border-radius: 20px;
}

.titleTransaction {
  display: flex;
  gap: 520px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.titleTransaction h1 {
  font-size: medium;
  margin-top: 20px;
}

.headerTransaction {
  display: flex;
  gap: 50px;
  color: #99b2c6;
  font-size: smaller;
  justify-content: flex-start;
  width: 100%;
  margin-left: 23px;
}

.headerTransaction input[type=checkbox] {
  width: 15px;
}

.transactions input[type=checkbox] {
  width: 15px;
}

.transactions {
  display: flex;
  gap: 34px;
  width: 725px;
  font-size: small;
  margin-bottom: 28px;
}

.transactions td {
  color: gray;
}

.transactionsColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.situation {
  background-color: #3fb8a9;
  color: #fff;
  border-radius: 9px;
  width: 90px;
  text-align: center;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.transactions button {
  background-color: #2c2c2c;
  color: #fff;
  border: none;
  border-radius: 9px;
  width: 80px;
  height: 30px;
  font-size: small;
}

.productName {
  width: 107px;
}

.productPrice {
  width: 45px;
}

.container {
  display: flex;
}

.salesTitle {
  display: flex;
  gap: 230px;
  margin: 25px;
  align-items: center;
}

.salesTitle h1 {
  font-size: medium;
}

.salesHistory {
  background-color: #fff;
  margin-left: 90px;
  border-radius: 20px;
}

.sales {
  margin-left: 26px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.saleName h1 {
  font-size: medium;
  font-weight: 600;
}

.saleName p {
  font-size: smaller;
  color: grey;
  width: 140px;
}

.sales img {
  border-radius: 16px;
}

.saleValue {
  background-color: #3fb8a9;
  margin-left: 30px;
  color: #fff;
  padding: 12px;
  border-radius: 9px;
  font-size: smaller;
}

.salesColumn {
  display: flex;
  flex-direction: column;
  gap: 25px;
}/*# sourceMappingURL=style.css.map */